
.container-right .box-doctor {
    border: 0px;
    background-color: #F5F3F5;
    min-height: 550px;
}
.doctor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}
.doctor .user-avatar, .doctor .user-information{
    border: 0px;
    border-radius: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.doctor .user-avatar{
    flex: 0.3;
}
.doctor .user-avatar .user-image{
    width: 400px;
    height: 350px;
    border:2px solid #1E3A28;
    border-collapse: separate;
    border-spacing: 0px;
}
.doctor .user-avatar .btn-appointment, .doctor .user-avatar .btn-messenge{
    width: 200px;
    border-radius: 10px;
}
.doctor .user-avatar .btn-appointment label, .doctor .user-avatar .btn-messenge label{
    font-size: 25px;
}
.doctor .user-information{
    flex: 0.7;
    background-color: #F5F3F5;
    align-items: flex-start;
    padding-left: 50px;
    justify-content: flex-start;
}
.doctor .user-information .fullName,.doctor .user-information .property{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color:#1E3A28
}
.doctor .user-information .property{
    font-size: 25px;
}
.doctor .user-information .role-doctor{
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.doctor .user-information .role-doctor label{
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    color:#1E3A28
}
.rating-doctor{
    width: 100%;
    min-height: 500px;
}
.rating-doctor .view-comment{
    width: 100%;
    height: 200px;
    border-radius: 15px;
    padding-top: 10px;
    border:1px solid #707070;
    background-color: #E7C7C0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rating-doctor .view-comment .input-comment{
    width: 95%;
    height: 100px;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
    border:1px solid #707070
}

.rating-doctor .view-comment .comments-bottom{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rating-doctor .view-comment .comments-bottom button{
    background-color: #6D5D5D;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    height: 40px;
}
.list-comments {
    display: flex;
    width: 100%;
    height: 350px;
    border:1px solid #707070;
    margin-top: 20px;
    background-color: white;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}
.list-comments::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: gray;
}
.list-comments::-webkit-scrollbar{
    width: 5px;
}
  /* Track */
.list-comments::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey; 
    border-radius: 10px;
}

.list-comments .row-data{
    width: 95%;
    height: 50px;
    border-bottom: 1px solid #A7A7A7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
}
.list-comments .row-data .name-user{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: #1E3A28;
}
.list-comments .row-data .rating{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: #A7A7A7;
    font-style: italic;
}