.header{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #78a570;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
}
.btn-home{
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color:#78a570;
    border:0px;
    align-items: center;
}
.btn{
    height: 100%;
    background-color:#78a570;
    display: flex;
    
}
.btn .active{
    background-color: red;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    top:0px
}
.btn .active span{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.view-header-home,.view-header-search,.view-header-user{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo{
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.header-title{
    font-family:'Trajan';
    src: url('../../assets/fonts/Trajan\ Pro.ttf');
    font-size: 35px;
    color: #1E3A28;
    font-weight: 500;
    margin:0px;
}
.header-search{
    width: 600px;
    height: 60%;
    background-color: white;
    margin-left: 40px;
}
.header-icon-search{
    width: 45px;
    height: 45px;
    margin-left: 10px;
}
.user-title{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: #1E3A28;
    font-weight: bold;
    height: 100%;
    margin:0px;
}
.view-header-user .view-chats,.view-header-user .view-notifications{
    position: relative;
}
.view-header-user .view-chats .chat-informations,.view-header-user .view-notifications .notifications-informations{
    position: absolute;
    top:'100%';
    left: -150px;
    min-height: 500px;
    width: 400px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    z-index: 1000;

}
.view-header-user .view-chats .chat-informations .chat-informations-header,.view-header-user .view-notifications .notifications-informations .notifications-informations-header{
    height: 50px;
    width: 100%;
    background-color: #E7C7C0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #6D5D5D;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.view-header-user .view-chats .chat-informations .chat-informations-content,
.view-header-user  .view-notifications .notifications-informations .notifications-informations-content{
    height: 500px;
    width: 100%;
    flex-direction: column;
    overflow-y:auto ;
    overflow-x: hidden;
}
.view-header-user .view-chats .chat-informations .chat-informations-content::-webkit-scrollbar-thumb
.view-header-user  .view-notifications .notifications-informations .notifications-informations-content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: gray;
}
.view-header-user .view-chats .chat-informations .chat-informations-content::-webkit-scrollbar,
.view-header-user  .view-notifications .notifications-informations .notifications-informations-content::-webkit-scrollbar
{
    height: 10px;
    width: 10px;
}
  /* Track */
.view-header-user .view-chats .chat-informations .chat-informations-content::-webkit-scrollbar-track,
.view-header-user  .view-notifications .notifications-informations .notifications-informations-content::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 3px grey; 
    border-radius: 10px;
}
.view-header-user .view-chats .chat-informations .chat-informations-content .no-contract{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-header-user .view-chats .chat-informations .chat-informations-content .no-contract span,
.view-header-user  .view-notifications .notifications-informations .notifications-informations-content .no-contract span
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: #6D5D5D;
    font-style: italic;

}
.view-header-user .view-chats .chat-informations .chat-informations-content .chat-informations-user,
.view-header-user  .view-notifications .notifications-informations .notifications-informations-content .notifications-informations-user
{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #707070;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.view-header-user .view-chats .chat-informations .chat-informations-content .chat-informations-user:hover,
.view-header-user  .view-notifications .notifications-informations .notifications-informations-content .notifications-informations-user:hover
{
    background-color: #f1f1f1;
}
.view-chats .chat-informations .chat-informations-content .chat-informations-user .chat-informations-user-avatar,
.view-notifications .notifications-informations .notifications-informations-content .notifications-informations-user .notifications-informations-user-avatar
{
    width: 70px;
    height: 70px;
    border-radius:100%;
}
.view-chats .chat-informations .chat-informations-content .chat-informations-user  .chat-informations-name,
.view-chats .chat-informations .chat-informations-content .chat-informations-user  .chat-informations-message,
.view-notifications .notifications-informations .notifications-informations-content .notifications-informations-user .notifications-informations-name,
.view-notifications .notifications-informations .notifications-informations-content .notifications-informations-user .notifications-informations-message

{
    flex: 0.5;
    width: 300px;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #6D5D5D;
}
.view-chats .chat-informations .chat-informations-content .chat-informations-user  .chat-informations-name,
.view-notifications .notifications-informations .notifications-informations-content .notifications-informations-user .notifications-informations-name{
    font-size: 25px;
    font-weight: bold;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}
.view-chats .chat-informations .chat-informations-content .chat-informations-user  .chat-informations-message,
.view-notifications .notifications-informations .notifications-informations-content .notifications-informations-user .notifications-informations-message{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 19px;
}
.view-chats .chat-informations .chat-informations-content .chat-informations-user  .chat-informations-message > span:first-child{
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.view-chats .chat-informations .chat-informations-content .chat-informations-user  .chat-informations-message > span:last-child{
    font-style: italic;
    font-size: 15px;

}