.documents .form-word{
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    padding: 8px;
    min-height: 500px;
}
.documents button{
    border: 1px solid #78A570;
    border-radius: 5px;
    background-color: #78A570;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 5px;
    transition: 0.5s;
}
.documents button:hover{
    background-color: rgb(184, 184, 184);
    color: black;
    transition: 0.5s;
}